html,
body {
    margin: 0;
    padding: 0;
}

.post-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        " blog-1   blog-2   blog-3 "
        "....      view     ...."
        "foot      foot     foot";
}

.home {
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-h1-container {
    display: flex;
    flex-direction: row;
    padding: 3px 0 0 30px;
}

.hi-there {
    font-size: 47px;
}

.about {
    padding: 0 40px;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    align-items: flex-end;
    font-size: 1.56rem;
    font-weight: 600;
}

.header-emoji-pic {
    width: 3vw;
    height: 6vh;
    padding: .625em;
    align-self: center;
}

.hero-img {
    height: 100vh;
    width: 100vw;
    align-self: center;
    color: white;
    max-width: 1440px;
}

.post-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    font-size: 24px;
}

.hero-container-content {
    padding-left: 90px;
    padding-bottom: 60px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

date {
    font-size: 15px;
    margin-top: 20px;
}

.hero-header {
    font-size: 45px;
}

.hero-paragraph {
    font-size: 22px;
    width: 80vw;
}

.photo-img {
    width: 17%;
    padding-right:1em;
}

.roku-greeting {
    max-width: 1450px;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left:auto;
    padding-top:150px;
    padding-bottom:50px;
    width: 90vw;
}

.roku-gretting-text {
    margin-left:25px;
    margin-right:70px;
    font-size: 24px;
}

.blog-img-1 {
    grid-area: blog-1;
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-top: 3em;
    padding-right: 2em;
}

.blog-img-2 {
    grid-area: blog-2;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    padding-right: 2em;
}

.blog-img-3 {
    grid-area: blog-3;
    display: flex;
    flex-direction: column;
    padding-right: 4em;
    padding-top: 3em;

}


.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6 {
    width: 100%;
    height: 50%;
}

.recent-posts {
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
    padding-top:70px;
}

.footer {
    grid-area: foot;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

@media  (max-width:500px) {
    main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas:
            "hero-img "
            "blog-1"   
            "blog-2"   
            "blog-3"
            "view"
            "foot ";
    }

    .about {
        padding-right: 25px;
        padding-left: 0;
    }

    .header-h1-container {
        padding: 3px 0 0 30px;
    }

    .blog-img-1,
    .blog-img-2,
    .blog-img-3 {
        gap:1em;
        margin:0;
        height:60vh;
        padding:0 0;
    }

    .blog-img-1 {
        padding-left:0;
        padding-right:0;
        padding-top:2em;
    }

    .date,
    h2,
    p {
        margin:0;
    }

    .roku-greeting {
        display: block;
        padding: 0;
    }

    .hi-there {
        padding:20px 0;
        font-size: 40px;
    }

    .photo-img {
        width: 45vw;
        padding:20px 0;
    }
    
    .post-content {
        font-size: 1em;
    }

    .padding {
        padding: 20px;
    }

    .post-section { 
        display: block;
    }

    .hero-container-content {
        padding-left:0;
        padding-bottom: 0;
    }

    .hero-paragraph {
        width: 85vw;
        margin: 0;
        padding-bottom: 20px;
    }

    .hero-header {
        margin-top:10px;
        margin-bottom:20px;
    }

    li {
        padding-left:0;
        padding-right: 25px;
        font-size: 15px;
    }

    .header-emoji {
        font-size: 20px;
        align-self: center;
        padding-left:5px;
    }

    .header-emoji-pic {
        width: 3vh;
        height: 3vh;
        padding: 0;
    }
    
    h3 {
        margin: 5px 0;
    }

    .post-header{
        padding-bottom: 1em;
        padding-top:1em;
    }

    .post-p {
        padding-top: 1em;
    }

    .recent-posts {
        text-align: center;
        font-weight: bolder;
        padding-top:70px;
    }

    .footer {
        padding:30px;
        font-size:10px;
    }
}
