body {
    margin: 0;
    padding: 0;
}

.post-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        " blog-1   blog-2   blog-3 "
        "....      view     ...."
        "foot      foot     foot";
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-h1-container {
    display: flex;
    flex-direction: row;
    padding: .1875em 0 0 1.875em;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    align-items: flex-end;
    font-size: 1.56rem;
    font-weight: 600;
    padding: 0 1.041em;
}

.header-emoji-pic {
    width: 3vw;
    height: 6vh;
    padding: .625em;
    align-self: center;
}

.hero-img {
    height: 100vh;
    width: 100vw;
    align-self: center;
    color: white;
    max-width: 1440px;
}

.post-content {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.437rem;
}

.about {
    cursor: pointer;
}

.hero-container-content {
    padding-left: 5.625em;
    padding-bottom: 3.75em;
}

.hero-container {
    display: flex;
    flex-direction: column;
    padding-top: 6.25em;
}

date {
    font-size: .9375rem;
    margin-top: 1.333em;
}

.hero-header {
    font-size: 2.8125rem;
}

.hero-paragraph {
    font-size: 1.375rem;
    width: 80vw;
}

.recent-posts {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    padding-top: 2.916em;
    margin-right: .8333em;
}

.blog-img-1 {
    grid-area: blog-1;
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-top: 3em;
    padding-right: 2em;
}

.blog-img-2 {
    grid-area: blog-2;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    padding-right: 2em;
}

.blog-img-3 {
    grid-area: blog-3;
    display: flex;
    flex-direction: column;
    padding-right: 4em;
    padding-top: 3em;

}


.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6 {
    width: 100%;
    height: 50%;
}

.footer {
    grid-area: foot;
    text-align: center;
    background-color: black;
    color: white;
    padding: .625em;
}

@media (max-width:500px) {
    main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas:
            "hero-img "
            "blog-1"
            "blog-2"
            "blog-3"
            "view"
            "foot ";
    }

    .blog-img-1,
    .blog-img-2,
    .blog-img-3 {
        gap: 1em;
        margin: 0;
        height: 60vh;
        padding: 0 0;
    }

    .date,
    h2,
    p {
        margin: 0;
    }

    .post-content {
        padding: 1.25em;
    }

    .post-section {
        padding: 1.25em;
        display: block;
    }

    .hero-container-content {
        padding-left: 0;
        padding-bottom: 0;
    }

    .hero-container {
        padding: 1.25em;
    }

    .hero-paragraph {
        width: 85vw;
        margin: 0;
        padding-bottom: 1.25em;
    }

    .hero-header {
        margin-top: .625em;
        margin-bottom: 1.25em;
    }

    .hero-img {
        height: 35vh;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2em
    }

    .about {
        padding-left: 0;
        padding-right: 1.5625em;
    }


    li {
        padding-left: 0;
        font-size: .9375rem;
    }

    .header-emoji {
        font-size: 1.25rem;
        align-self: center;
        padding-left: .25em;
    }

    .header-emoji-pic {
        width: 3vh;
        height: 3vh;
        padding: 0;
    }

    h3 {
        margin: .3125em 0;
    }

    .post-header {
        padding-bottom: 1em;
        padding-top: 1em;
    }

    .post-p {
        padding-top: 1em;
    }

    .recent-posts {
        text-align: center;
        font-weight: bolder;
        padding-top: 4.375;
    }

    .footer {
        padding: 3em;
        font-size: .625rem;
    }
}