html,
body {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "hero-img hero-img hero-img  "
        " blog-1   blog-2   blog-3 "
        " blog-4   blog-5   blog-6 "
        ".      view     ."
        "foot      foot     foot";
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-h1-container {
    display: flex;
    flex-direction: row;
    padding: .187em 0 0 1.875em;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    align-items: flex-end;
    font-size: 1.56rem;
    padding: 0 1.041em;
    font-weight: 600;
}

.about {
    cursor: pointer;
}

.header-emoji-pic {
    width: 3vw;
    height: 6vh;
    padding: .625em;
    align-self: center;
}

.hero-img {
    background-image: url(/images/hero-img.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    grid-area: hero-img;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero-container {
    padding-left: 5.625em;
    padding-bottom: 3.75em;
}

date {
    font-size: 1.333rem;
    margin-top: 1.25em;
}

.hero-header {
    font-size: 2.812rem;
}

.hero-paragraph {
    font-size: 1.375rem;
    width: 54vw;
}

.blog-img-1 {
    grid-area: blog-1;
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-top: 3em;
    padding-right: 2em;
}

.blog-img-2 {
    grid-area: blog-2;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    padding-right: 2em;
}

.blog-img-3 {
    grid-area: blog-3;
    display: flex;
    flex-direction: column;
    padding-right: 4em;
    padding-top: 3em;

}

.blog-img-4 {
    grid-area: blog-4;
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-right: 2em;
}

.blog-img-5 {
    grid-area: blog-5;
    display: flex;
    flex-direction: column;
    padding-right: 2em;

}

.blog-img-6 {
    grid-area: blog-6;
    display: flex;
    flex-direction: column;
    padding-right: 4em;
    align-items: flex-start;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6 {
    width: 100%;
    height: 50%;
}

.view-more {
    text-align: center;
    grid-area: view;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-right: 1.25em;
}

.footer {
    grid-area: foot;
    text-align: center;
    background-color: black;
    color: white;
    padding: .625em;
}

@media (max-width:500px) {
    main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas:
            "hero-img "
            "blog-1"
            "blog-2"
            "blog-3"
            "blog-4"
            "blog-5"
            "blog-6 "
            "view"
            "foot ";
    }

    .blog-img-1,
    .blog-img-2,
    .blog-img-3,
    .blog-img-4,
    .blog-img-5,
    .blog-img-6 {
        gap: 1em;
        margin: 0;
        height: 60vh;
        padding: 0 2em;
    }

    .blog-img-1 {
        padding-top: 2em;
    }

    .date,
    h2,
    p {
        margin: 0;
    }

    .hero-img {
        height: 60vh;
    }

    .hero-container {
        padding-left:1.25em;
        padding-bottom: 1.25em;
    }

    .hero-paragraph {
        width: 85vw;
        margin: 0;
        padding-bottom: 1.25em;
    }

    .hero-header {
        margin-top: .625em;
        margin-bottom: 1.25em;
    }

    .view-more {
        padding-bottom: 2em;
        margin-right: 0;
    }


    li {
        padding-left: 0;
        padding-right: .6em;
        font-size: .9375rem;
    }

    .header-emoji {
        font-size: 1.25rem;
        align-self: center;
        padding-left: .25em;
    }

    .header-emoji-pic {
        width: 3vh;
        height: 3vh;
        padding: 0;
    }

    h3 {
        margin: .3125em 0;
    }

    .footer {
        padding: 3em;
        font-size: .625rem;
    }
}